---
import GitHub from "./icons/Github.astro";
import Terminal from "./icons/Terminal.astro";
---

<section id="home" class="py-24 lg:py-32 xl:py-48">
  <div class="container px-4 md:px-6">
    <div class="flex flex-col items-center space-y-4 text-center">
      <div class="space-y-2">
        <h1
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl text-powershell-text [text-shadow:0_0_20px_rgba(238,237,240,0.3)]"
        >
          Powershell Simple Node Manager
        </h1>
        <p class="mx-auto max-w-[700px] text-powershell-text/80 md:text-xl">
          Lightweight Windows Node.js version manager using official Node.org
          binaries, built for restricted corporate environments.
        </p>
      </div>
      <div class="flex flex-wrap gap-4 justify-center items-center">
        <a
          href="#installation"
          class="py-2 border border-transparent px-4 transition-all inline-flex items-center justify-center rounded-md gap-2 bg-powershell-accent hover:bg-powershell-accent/90 hover:[box-shadow:0_0_15px_rgba(0,120,212,0.5)]"
        >
          <Terminal class="size-4" />
          Installation Guide
        </a>
        <a
          href="https://github.com/gustavorizzon/psnm"
          target="_blank"
          rel="noopener noreferrer"
          class="py-2 px-4 inline-flex gap-2 border-powershell-text/20 rounded-md items-center justify-center border border-powershell hover:bg-powershell-text/10 hover:border-powershell-command hover:[box-shadow:0_0_15px_rgba(239,181,113,0.3)]"
        >
          <GitHub class="size-4" />
          View on GitHub
        </a>
      </div>
    </div>
  </div>
</section>
