<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Lightweight Windows Node.js version manager using official Node.org binaries, built for restricted corporate environments."
    />
    <title>psnm | PowerShell Node Manager</title>
  </head>
  <body>
    <slot />
  </body>
</html>
