---
import { Prism } from "@astrojs/prism";
import Copy from "../icons/Copy.astro";
import CopyCheck from "../icons/CopyCheck.astro";

export type CodeBlockProps = {
  class?: string;
  language: string;
  code: string;
};

const { code, language, class: classNames } = Astro.props as CodeBlockProps;
---

<div class="relative">
  <button
    type="button"
    class="p-2 cursor-pointer transition-colors border rounded-md border-powershell-text/70 absolute right-7 top-3 hover:bg-powershell-text/10 hover:border-powershell-command data-[state=copied]:border-green-400 hover:[box-shadow:0_0_15px_rgba(239,181,113,0.3)] group"
    data-copy-code-trigger
    data-state
  >
    <CopyCheck class="size-4 text-green-400 group-data-[state=]:hidden" />
    <Copy class="size-4 text-powershell-text/70 group-data-[state=copied]:hidden" />
    <span class="sr-only">Copy code</span>
  </button>
  <Prism lang={language} code={code} class={classNames} />
</div>

<script>
  document.querySelectorAll("[data-copy-code-trigger]").forEach((el) => {
    el.addEventListener("click", () => {
      const codeBlock = el.parentElement?.children.item(1)?.children.item(0);
      navigator.clipboard.writeText(codeBlock?.textContent ?? "");
      
      el.setAttribute("data-state", "copied");
      setTimeout(() => {
        el.setAttribute("data-state", "");
      }, 1700);
    });
  });
</script>
